
a {
    color: #3CECFA;
}
.clear {
  clear:both;
}
table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 20px 0px;
}

tr {
  border: 1px solid white;
}
th,td{
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}

.dark-theme {
  background-color: black;
  color: white;
}

.white-theme {
  background-color: white;
  color: #000;
}

.white-theme tr {
  border: 1px solid black;
}
.white-theme th,.white-theme td{
  border: 1px solid black;
}
.button-fixed {position: fixed;height: 20px;cursor: pointer;}
.button-switch-theme {    font-size: 13px;font-weight: bold;top: 20px;right: 20px;height: 20px;width: 20px;padding: 0px;text-align: center;}
.button-inverse-collapse {  font-size: 12px;font-weight: bold;top: 50px;right: 20px;width: 20px;padding: 0;}