
a {
    color: #3CECFA;
}
.clear {
  clear:both;
}
table {
  border-collapse: collapse;
  border: 1px solid black;
  margin: 20px 0px;
}

tr {
  border: 1px solid white;
}
th,td{
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}

.dark-theme {
  background-color: black;
  color: white;
}

.white-theme {
  background-color: white;
  color: #000;
}

.button-absolute {
  position: absolute;
  height: 25px;
  cursor: pointer;
}
.button-switch-theme {
  font-size: 20px;
  font-weight: bold;
  top: 20px;
  right: 25px;
  height: 25px;
  width: 25px;
}

.button-inverse-collapse {
  font-size: 20px;
  font-weight: bold;
  top: 50px;
  right: 25px;
  width: 25px;
}